.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: transform var(--transition-dir) var(--cubik),
    opacity var(--transition-dir) var(--cubik);
}
.case-thumb {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  overflow: hidden;
}
.thumb-text {
  position: absolute;
  padding: 63px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--background-color);
}
