.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--title-text-color);
  &-title {
    margin-bottom: 20px;
    font-size: 14px;
    color: var(--primary-text-color);
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  &-box {
    display: flex;
    align-items: baseline;
  }
}
