.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--title-text-color);
}

.box-contact {
  display: block;
  width: 231px;
}

.contact-footer {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  line-height: 1.7;
  transition: color var(--transition-dir) var(--cubik);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &-town {
    font-style: normal;
    color: var(--background-color);
    font-size: 14px;
    text-decoration: none;
    line-height: 1.7;
    transition: color var(--transition-dir) var(--cubik);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
}
