:root {
    --primary-text-color: #ffffff;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --text: #757575;
    --hero-bg-color: #c4c4c4;
    --secondary-text-color: #212121;
    --secondary-button-color: #f5f4fa;
    --background-color: #ffffff;
    --primary-button-hover: #188ce8;
    --social-icons: #afb1b8;
    --social-icon-bcg: rgba(255, 255, 255, 0.1);
    --team-bg: #f5f4fa;
    --transition-dir: 250ms;
    --cubik: cubic-bezier(0.4, 0, 0.2, 1);
}

